.custom__pass {
    position: absolute;
    right: -3em;
    bottom: 1em;
    transform: rotateZ(-23deg);

    display: block;
    padding: 1em 1em 1em 7em;

    border: 1px solid white;
}

.custom__pass_title {
    font-family: "Number", Verdana, serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.3;

    display: block;
    width: 19em;
    margin: 0 0 .5em 0;
    padding: .5em 0 .5em .5em;

    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    letter-spacing: 3px;
    text-align: left;

    color: white;
    border-bottom: 1px solid white;
}

.custom__pass_photo {
    position: absolute;
    top: 1.5em;
    left: 1em;

    display: block;
    width: 5em;
    height: 6.5em;

    border: none;
    opacity: 0.6;

    background-color: black;
    background-image: url("../images/gameplay/player.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
}
